.FriendsList {
  background: linear-gradient(
    45deg,
    var(--light-gradient-color),
    var(--dark-gradient-color)
  );
}

.FriendsList__item {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border: 1px solid var(--table-border-color);
}

.FriendsList__status {
  font-size: 50px;
  color: var(--offline-color);
  margin-right: 20px;
}

.FriendsList__status.is-online {
  color: var(--online-color);
}

.FriendsList__avatar {
  border: 2px solid var(--darkest-text-color);
  border-radius: 20px;
  background-color: var(--background-avatar-color);
}

.FriendsList__name {
  margin-left: 30px;
  font-size: 20px;
  color: var(--darkest-text-color);
}
