.TransactionHistory {
  border-collapse: collapse;
  width: 100%;
}

.TransactionHistory__header {
  background-color: var(--table-header-color);
}

.TransactionHistory td,
.TransactionHistory th {
  border: 1px solid var(--table-border-color);
  padding: 8px;
}

.TransactionHistory tr:nth-child(even) {
  background-color: var(--table-background-color);
}

.TransactionHistory__type {
  font-size: 16px;
  font-weight: bold;
  color: var(--darkest-text-color);
}

.TransactionHistory__count {
  text-align: center;
}
